@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="inner cover">
   
        <h1 class="display-4">Welcome</h1>
        <p>Mustard Cars have been at the forefront of electric vehicle technology with our first mainstream 
            plug in vehicles introduced to customer’s fleets early in 2011.  We continue to build upon our sustainability 
            strategy by providing customers with the vehicles and tools to assist their transition to ultra-low emitting vehicles.</p>
            <img href="https://www.lexautolease.co.uk/content/atom/64bd0369-dde0-4429-bd8f-59ed913de60d/content/Vehicle%20Images/passat-gte-banner.png?id=3aa98096-922a-4366-9d18-5a6fd349eddd"
           <img href="https://www.lexautolease.co.uk/content/atom/64bd0369-dde0-4429-bd8f-59ed913de60d/content/Vehicle%20Images/i3-banner.png?id=59cc1890-eca5-4cd1-8fde-447a54f10e50"
</div>