@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="inner cover">
    @if (Model.IsLoggedIn)
    {
        <h1>Welcome Back @Model.Username</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
</div>